if SHIELD_PIG_LEFT

config ZMK_KEYBOARD_NAME
    default "pig!"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PIG_LEFT || SHIELD_PIG_RIGHT

config ZMK_SPLIT
    default y

endif